.app {
  height: 100vh;
  min-height: 700px;
  padding-top: 0;
  padding-bottom: 0;
}
.bg {
  /* background:  no-repeat center center fixed; */
  position: absolute;
  z-index: -1;
  inset: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('../images/background.jpg');
}

.content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

.content-wpp {
  position: absolute;
  right: 4%;
  bottom: 4%;
}

.wpp-logo {
  width: 6vmin;
  height: 6vmin;
}

.content-insta {
  position: absolute;
  right: 4%;
  top: 4%;
}

.insta-logo {
  width: 20px;
  height: 20px;
}
